fastapi==0.116.1
uvicorn[standard]==0.35.0
sqlalchemy==2.0.41
psycopg[binary]==3.2.9
pydantic-settings==2.10.1
PyJWT==2.10.1
passlib==1.7.4
python-multipart==0.0.20
python-docx==1.2.0
aiogram==3.21.0
httpx==0.28.1
orjson==3.10.18
